doctype html
html
	head
		title= title
		link(rel="stylesheet", href="styles/brand.css")
	body
		#page_wrapper
			#header
				img#logo(src="images/tt_logo.gif" alt="Tea Total Logo")
			hr
			block content